{% extends "base.html" %}
{% block content %}
    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        TITULO DO SITE
                    </h1>
                    <h2 class="splash-subhead">
                        SUBTITULO DO SITE.
                    </h2>
                    <p>
                        <a href="#" class="pure-button primary-button">Saiba mais</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">PRODUTO</h4>
                    <h3>NOME DO PRODUTO</h3>
                    <p>
                        DESCRIÇÃO DO PRODUTO
                    </p>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="http://placehold.it/400x250"
                         alt="Vídeo aulas e materiais digitais.">
                </div>
            </div>
        </div>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="http://placehold.it/400x250"
                         alt="Fórum de Dúvidas">
                </div>
            </div>
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">PRODUTO</h4>
                    <h3>NOME DO PRODUTO</h3>
                    <p>
                        DESCRIÇÃO DO PRODUTO
                    </p>
                </div>
            </div>
        </div>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">PRODUTO</h4>
                    <h3>NOME DO PRODUTO</h3>
                    <p>
                        DESCRIÇÃO DO PRODUTO
                    </p>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="http://placehold.it/400x250"
                         alt="Exercícios">
                </div>
            </div>
        </div>

        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="http://placehold.it/400x250"
                         alt="Mural de Avisos">
                </div>
            </div>
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">PRODUTO</h4>
                    <h3>NOME DO PRODUTO</h3>
                    <p>
                        DESCRIÇÃO DO PRODUTO
                    </p>
                </div>
            </div>
        </div>

        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">PRODUTO</h4>
                    <h3>NOME DO PRODUTO</h3>
                    <p>
                        DESCRIÇÃO DO PRODUTO
                    </p>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="http://placehold.it/400x250"
                         alt="Exercícios">
                </div>
            </div>
        </div>

    </div>
    
{% endblock %}